@font-face {
  font-family: "Playfair Display";
  src: url("../PlayfairDisplay-Italic.eot");
  src: url("../PlayfairDisplay-Italic.eot?#iefix") format("embedded-opentype"),
    url("../PlayfairDisplay-Italic.woff2") format("woff2"),
    url("../PlayfairDisplay-Italic.woff") format("woff"),
    url("../PlayfairDisplay-Italic.ttf") format("truetype"),
    url("../PlayfairDisplay-Italic.svg#PlayfairDisplay-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Playfair Display";
  src: url("PlayfairDisplay-Regular.eot");
  src: url("PlayfairDisplay-Regular.eot?#iefix") format("embedded-opentype"),
    url("PlayfairDisplay-Regular.woff2") format("woff2"),
    url("PlayfairDisplay-Regular.woff") format("woff"),
    url("PlayfairDisplay-Regular.ttf") format("truetype"),
    url("PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Playfair Display SC";
  src: url("PlayfairDisplaySC-Bold.eot");
  src: url("PlayfairDisplaySC-Bold.eot?#iefix") format("embedded-opentype"),
    url("PlayfairDisplaySC-Bold.woff2") format("woff2"),
    url("PlayfairDisplaySC-Bold.woff") format("woff"),
    url("PlayfairDisplaySC-Bold.ttf") format("truetype"),
    url("PlayfairDisplaySC-Bold.svg#PlayfairDisplaySC-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
/* pesudo to do some change 
h1:before {
  content: "hello";
}*/

.bkgd-banner {
  background: url("./project-01/images/banner-girl.png"),
    url("./project-01/images/flower-bkgd.jpg");

  height: 50rem;
  background-repeat: no-repeat;
  background-position: center 40px, center;
}

.bkgd-banner h2 {
  text-align: center;
}

.text-mid h2,
h3 {
  text-align: center;
  padding-top: 10px;
}
.text-mid h2 {
  padding-top: 20px;
}
.text-mid h3 {
  padding-bottom: 20px;
}
.banner-text-1 {
  padding-top: 200px;
  color: white;
}

.banner-text-2 {
  padding-bottom: 200px;
  color: white;
  font-size: 50px;
}

.navi {
  margin-right: 10%;
  height: 60px;
  margin-top: 60px;
}

.navi a {
  padding: 10px 50px 10px 10px;
}
.footer-container {
  display: flex;
  align-items: center;
  justify-content: Space-between;
  color: white;
}
.container {
  width: 1248px;
}

.footer {
  background-color: black;
}

.copy-icon {
  color: white;
  font-family: Avenir, sans-serif;
  font-size: 18px;
}

.top {
  display: flex;
  justify-content: space-evenly;
}

.top a {
  color: red;
}

.top img {
  height: 58px;
  margin-top: 60px;
  text-align: left;
}

/* category pic  */

.men {
  background-image: url("./project-01/images/mens-category.jpg");
  width: 50%;
  height: 25vw;
  background-size: cover;
}

.trends {
  background-image: url("./project-01/images/trends-category.jpg");
  width: 25%;
  height: 25vw;
  background-size: cover;
}

.glasses {
  background-image: url("./project-01/images/glasses-category.jpg");
  width: 25%;
  height: 25vw;
  background-size: cover;
}

.sales {
  background-image: url("./project-01/images/sale-category.jpg");
  width: 25%;
  height: 25vw;
  background-size: cover;
}

.bags {
  background-image: url("./project-01/images/bags-category.jpg");
  width: 25%;
  height: 25vw;
  background-size: cover;
}

.womens {
  background-image: url("./project-01/images/womens-category.jpg");
  width: 50%;
  height: 25vw;
  background-size: cover;
}

/* category pic  */
.category {
  display: flex;
  flex-wrap: wrap;
  color: white;
}

@media only screen and (min-width: 1240px) {
  /* bcgd-banner */
  .bkgd-banner {
    background: url("./project-01/images/banner-girl.png"),
      url("./project-01/images/flower-bkgd.jpg");

    height: 50;

    /* background-repeat: no-repeat; */
    background-position: center 40px, center;
  }

  .bkgd-banner h2 {
    text-align: center;
  }
  .fab fa-facebook {
    text-decoration: none;
  }
  .text-mid h2,
  h3 {
    text-align: center;
    padding-top: 10px;
  }
  .text-mid h2 {
    padding-top: 20px;
  }
  .text-mid h3 {
    padding-bottom: 20px;
  }
  .banner-text-1 {
    padding-top: 200px;
    color: white;
  }

  .banner-text-2 {
    padding-bottom: 200px;
    color: white;
    font-size: 50px;
  }

  .navi {
    margin-right: 10%;
    height: 60px;

    margin-top: 60px;
  }

  .navi a {
    padding: 10px 50px 10px 10px;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: Space-between;
    color: white;
  }
  .container {
    width: 1248px;
  }

  .footer {
    background-color: black;
  }

  .copy-icon {
    color: white;
    font-family: Avenir, sans-serif;
    font-size: 18px;
  }

  .top {
    display: flex;
    justify-content: space-evenly;
  }

  .top a {
    color: red;
  }
  s



  /* category pic */

  .men {
    flex: 6;
    background-repeat: no-repeat;
    background-position: 80%;
    background-size: 100%;
  }
  .womens {
    flex: 4;
    margin: 0 0.5% 0 0.5%;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .trends {
    margin: 0 0.5% 0 0.5%;
    flex: 2;
    background-size: 120%;
    background-repeat: no-repeat;
  }

  .glasses {
    flex: 2;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 0 0.5% 0 0.5%;
  }
  .sales {
    margin: 0 0.5% 0 0.5%;
    flex: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .bags {
    flex: 2;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .trends h3 {
    margin-top: 60%;
  }
  .glasses h3 {
    margin-top: 60%;
  }
  .sales h3 {
    margin-top: 40%;
  }
  .bags h3 {
    margin-top: 40%;
  }

  .red {
    color: red;
    position: 300px;
  }

  .moving-1a,
  .moving-1b,
  .moving-1c,
  .moving-1d,
  .moving-2a,
  .moving-2b,
  .moving-2c,
  .moving-2d {
    margin: 50px;
    height: 200%;
    width: 200%;
  }

  .sign-up {
    background: url("./project-01/images/wave-bkgd.jpg");
    background-repeat: no-repeat;
    margin-top: 20%;
    height: 60%;
    width: auto;
    text-align: left;
    padding: 5%;
    background-color: #e2574c;
    background-position: bottom;
  }
  .sign-up-text {
    color: white;
    padding: 10px;

    text-align: center;
    margin-right: 20%;
  }
  .sign-up h1 {
    margin: auto;
    color: white;

    text-align: center;
    margin-right: 20%;
  }
  .password {
    text-align: center;
    margin-right: 20%;
  }

  #submit {
    background-color: #e2574c;
    color: #fff;
    border-radius: 34px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    flex: 0 1 25%;
  }
  #youremail {
    display: block;
    height: 15px;
    padding: 12px 5%;
    border-radius: 20px;
    border: none;
    text-align: left;
    color: #888;
    flex: 0 1 70%;
  }
  .password {
    max-width: 400px;
    margin-left: 30%;
    padding: 3px;
    background-color: #fff;
    border-radius: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 0px) {
  /* top banner  */
  .category {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  .logo {
    order: 1;
    flex-basis: 50%;
  }

  .navi {
    order: 3;
    border-top: solid #969696;
    margin: 0px;
    padding-top: 10px;
    height: 40px;
  }
  .navi a {
    padding-left: 40px;
    color: #b64036;
  }

  .cart-icon {
    order: 2;
  }
  .cart-icon img {
    width: 50px;
  }
  .logo img {
    width: 100px;
    margin: 0px;
  }
}
.container {
  display: flex;
  height: 20%;
  flex-wrap: wrap;
}

.banner-text-1 {
  margin-top: 0px;
}

/* bkgd banner */
.bkgd-banner {
  font-size: 14px;
  color: #2d2d2d;
}

@media only screen and (min-width: 600px) {
}
